

body { 
    padding-top: 130px; 
    background-color: cornsilk;
}

h1, h2, p {
    text-align:center;
}
.btn-group { 
  
        display: table;
        margin: 0 auto;
      


}

.container-box {
    text-align: center;
    outline:1px solid rgb(248, 104, 104);
}


.collapse{
    outline:1px solid rgb(101, 21, 167);
}

.mainMenu{
    outline:20px solid rgb(58, 247, 33);
    font-size: 5rem
}


.btn-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 70px;
    height: 70px;  
    border-radius: 50%;
    box-shadow: 10px 10px 12px #0000008c;
    background: white;
    margin: 5px;
}

#sayMyName{
    color: #6fc5ff;
    
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);  
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation : animate 50s linear infinite;


}

@keyframes animate{
    0%{
        background-position : 0%;
    }
    100%{
        background-position : 400%;
    }